*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0px;
    background-color: rgb(217, 232, 238);
}
h1{
    text-align: center;
    color: #2c3e50;
}
form {
    max-width: 400px;
    margin: auto;
    background-color:rgb(166, 166, 196);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
fieldset {
    border: 2px solid #3498bd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}
legend{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #2c3e50;
}
label {
    display: block;
    margin-top: 10px;
    color: #2c3e50;
}
input,textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #3498bd;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    margin-left: 45px;
    display: block;
    width: 80%;
    padding: 10px;
    background-color: purple;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover {
    background-color: #2980b9;
    cursor: pointer;
}
